*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.form{
    /* display: block; */
    margin: 0 auto;
    width: max-content;
    background-color: rgb(121, 88, 238);
    border-radius: 10px;
    padding: 16px;
    min-width: 400px;
    color: white;
}

.form .form-item{
    margin-bottom: 16px;
}

.form .form-item label{
    display: block;
    margin-bottom: 3px;
}

.form .form-item input{
    border-radius: 5px;
    padding: 5px 10px;
    width: 100%;
    border: 1px solid rgb(240, 240, 240);
}

.form button {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    background-color: blue;
    border: 1px solid white;
    padding: 5px 10px;
    color: white;
    font-weight: 600;
    
}